

<h1 class="text-center" style="font-family: Comic Sans MS; font-size: 60px; color: red; margin-top: 15%;"> 
        Automoviles Rails 
</h1>

<p class="text-center"> <img src="img/Porshe.jpg" alt="" class="rounded border border-danger"> </p>